@import '../../sass/styles.scss';

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 100px;
  gap: 29px 50px;
  text-align: center;
}

.title {
  @include font(42px, 600, 1.11);
  color: $accent-color;
  text-align: center;
  margin-bottom: 50px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 50px;
  padding: 20px 50px;
  width: 250px;
  height: 48px;
  border-radius: 16px;
  @include font(18px, 600, 1.43);
  color: #fff;
  background-color: $accent-color;
  transition: background-color $transition;
  @include hover {
    background-color: $hovered-color;
  }
}
