@import '../../sass/styles.scss';

.main_container {
  width: 100%;
  margin: 0 auto;

  @include mobile {
    width: 375px;
  }

  @include tablet {
    width: 768px;
  }

  @include desktop {
    width: 1440px;
  }
}
