@import '../../sass/styles.scss';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $text-info-color;
  z-index: 100;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 541px;
  max-height: 752px;
  padding: 40px;
  border-radius: 24px;
  background-color: $background-color;
}

.button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50px;
  border: transparent;
}

.iconClose {
  stroke: $text-color;
}
