@import '../../sass/styles.scss';

.scrollWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 35;

  border-radius: 50%;
  background-color: $input-background;
  color: $accent-color;
  transform: scale(1.2);
  transition: transform 250ms linear, color 250ms linear,
    background-color 250ms linear;

  @include hover {
    color: $hovered-color;
    transform: scale(1.3);
    background-color: $vector-color;
  }
}
